<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>

<body style="width: max-content;">
    <div class="form-group" id="main">
        <h3 class="text-center">YouTube Studio Exporter</h3>
        <div>
            <textarea class="form-control" id="data" rows="10" cols="50">{{cookie}}</textarea>
        </div>
        <div class="text-center align-middle">
            <button type="button" class="btn btn-primary" id="refresh" @click="reload" v-if="isLoaded">Refresh</button>
            <button type="button" class="btn btn-primary" disabled v-else>Waiting...</button>
        </div>
    </div>
    <script src="popup.js"></script>
</body>

</html>